[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=ubuntu
EnvironmentFile=/sustaincred/website/backend/prod.env
WorkingDirectory=/sustaincred/website/backend
ExecStart=/sustaincred/website/backend/.venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          sustaincred.wsgi:application

[Install]
WantedBy=multi-user.target